@use './variables.scss' as *;

// 基础样式重置
* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    Microsoft YaHei,
    PingFang SC,
    Helvetica Neue,
    Arial,
    sans-serif;
  color: #ffffff;
  background: #071638;
  overflow: hidden;
}

// 清除默认按钮样式
button {
  font-family: inherit;
  outline: none;
}

// 图片默认处理
img {
  display: block;
  max-width: 100%;
}

// 链接默认样式
a {
  color: inherit;
  text-decoration: none;
}
